# 6.4 Cycle Data Munging

***Declaration ***: The coding  is used was abstract  from Kevin mark ham youtube video seriese, Introduction to machine learning with scikit-learn video series. You can find link under resources section.

# 6.4.1 Data Munging steps
1.	Handling missing Data
2.	Encoding, Decoding, and recoding of data
3.	Handling Anomalous values
4.	Transforming Data
5.	Merging Dataset

# Data Cleaning

In [2]:
# load libraries and set styles, options
import os,csv
import numpy as np
import pandas as pd
import seaborn as sns
from IPython.display import HTML
import warnings; warnings.simplefilter('ignore')

In [3]:
%matplotlib inline

2. Read and verify data

In [4]:
# read in a CSV
df = pd.read_csv('C:/Users/mrferozi/Desktop/GitHub/Bike/cycle-share-dataset-orignal/trip.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286857 entries, 0 to 286856
Data columns (total 12 columns):
trip_id              286857 non-null int64
starttime            286857 non-null object
stoptime             286857 non-null object
bikeid               286857 non-null object
tripduration         286857 non-null float64
from_station_name    286857 non-null object
to_station_name      286857 non-null object
from_station_id      286857 non-null object
to_station_id        286857 non-null object
usertype             286857 non-null object
gender               181557 non-null object
birthyear            181553 non-null float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB

The data set contains trip duration for less than three minutes, which could be possible because it may happen that the user took the bike from cycle dock and decide not to proceed with the journey and the user return bike to the dock. Another, thing which we are ignoring for the moment is the journey recorded for the short pass holder which does not kick in any meaning in our current analysis, Note, a separate analysis has performed for short pass holders but  at this point this study decide to get rid of undesirable data and more focus on the data which contributing significance in our analysis.

In [5]:
# Filter data and only consider trip duration more than 3 minute and exclude Short-Term Pass Holder from our data set
bikes = df[(df.tripduration >=300) & (df.usertype != 'Short-Term Pass Holder')]

In [6]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143543 entries, 0 to 286847
Data columns (total 12 columns):
trip_id              143543 non-null int64
starttime            143543 non-null object
stoptime             143543 non-null object
bikeid               143543 non-null object
tripduration         143543 non-null float64
from_station_name    143543 non-null object
to_station_name      143543 non-null object
from_station_id      143543 non-null object
to_station_id        143543 non-null object
usertype             143543 non-null object
gender               143543 non-null object
birthyear            143541 non-null float64
dtypes: float64(2), int64(1), object(9)
memory usage: 14.2+ MB

- After applying fillter our data set shrink from 286857 to 143541 tuples

#  Imputation (Handle missing values)

**What does "NaN" mean?**

- "NaN" is not a string, rather it's a special value: **`numpy.nan`**.
- It stands for "Not a Number" and indicates a **missing value**.
- **`read_csv`** detects missing values (by default) when reading the file, and replaces them with this special value.

In [7]:
# 'isnull' returns a DataFrame of booleans (True if missing, False if not missing)
bikes.isnull().tail()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
286842,False,False,False,False,False,False,False,False,False,False,False,False
286843,False,False,False,False,False,False,False,False,False,False,False,False
286844,False,False,False,False,False,False,False,False,False,False,False,False
286845,False,False,False,False,False,False,False,False,False,False,False,False
286847,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
# 'nonnull' returns the opposite of 'isnull' (True if not missing, False if missing)
bikes.notnull().tail()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
286842,True,True,True,True,True,True,True,True,True,True,True,True
286843,True,True,True,True,True,True,True,True,True,True,True,True
286844,True,True,True,True,True,True,True,True,True,True,True,True
286845,True,True,True,True,True,True,True,True,True,True,True,True
286847,True,True,True,True,True,True,True,True,True,True,True,True

In [9]:
# count the number of missing values in each Series
bikes.isnull().sum()

trip_id              0
starttime            0
stoptime             0
bikeid               0
tripduration         0
from_station_name    0
to_station_name      0
from_station_id      0
to_station_id        0
usertype             0
gender               0
birthyear            2
dtype: int64

**handle missing values** depends on the dataset as well as the nature of analysis

In [10]:
bikes.shape

(143543, 12)

In [11]:
# if 'any' values are missing in a row, then drop that row
bikes.dropna(how='any').shape

(143541, 12)

In [12]:
bikes.birthyear.mean()

1979.3765474672741

In [13]:
# fill in missing values with a specified value
bikes['birthyear'].fillna(value='1979', inplace=True)

In [14]:
# count the number of missing values in each Series
bikes.isnull().sum()

trip_id              0
starttime            0
stoptime             0
bikeid               0
tripduration         0
from_station_name    0
to_station_name      0
from_station_id      0
to_station_id        0
usertype             0
gender               0
birthyear            0
dtype: int64

# Data Encoding

converting data Categorical to Numaric for further use

- Converting Gender Column

In [15]:
# create the 'Sex_num' dummy variable using the 'map' method
bikes['Sex_num'] = bikes.gender.map({'Female':2, 'Male':1})

- Converting category From Station ID and To Station ID to nominal

In [16]:
bikes["from_station_id_cat"] = bikes["from_station_id"].astype('category')
bikes.dtypes

trip_id                   int64
starttime                object
stoptime                 object
bikeid                   object
tripduration            float64
from_station_name        object
to_station_name          object
from_station_id          object
to_station_id            object
usertype                 object
gender                   object
birthyear                object
Sex_num                 float64
from_station_id_cat    category
dtype: object

In [17]:
bikes["from_station_id_num"] = bikes["from_station_id_cat"].cat.codes

In [18]:
bikes["to_station_id_cat"] = bikes["to_station_id"].astype('category')
bikes.dtypes

trip_id                   int64
starttime                object
stoptime                 object
bikeid                   object
tripduration            float64
from_station_name        object
to_station_name          object
from_station_id          object
to_station_id            object
usertype                 object
gender                   object
birthyear                object
Sex_num                 float64
from_station_id_cat    category
from_station_id_num        int8
to_station_id_cat      category
dtype: object

In [19]:
bikes["to_station_id_num"] = bikes["to_station_id_cat"].cat.codes

# Data Encoding

For further, for our analysis we are dividing date columns in small portion. Which, could help us to understand dataset more clearly.

In [20]:
# convert 'Time' to datetime format
bikes['starttime'] = pd.to_datetime(bikes.starttime)

In [21]:
bikes.dtypes

trip_id                         int64
starttime              datetime64[ns]
stoptime                       object
bikeid                         object
tripduration                  float64
from_station_name              object
to_station_name                object
from_station_id                object
to_station_id                  object
usertype                       object
gender                         object
birthyear                      object
Sex_num                       float64
from_station_id_cat          category
from_station_id_num              int8
to_station_id_cat            category
to_station_id_num                int8
dtype: object

In [22]:
bikes['Day'] = bikes.starttime.dt.weekday_name

In [23]:
# convert 'Time' to datetime format
bikes['stoptime'] = pd.to_datetime(bikes.stoptime)

In [24]:
bikes["Day_cat"] = bikes["Day"].astype('category')
bikes.dtypes

trip_id                         int64
starttime              datetime64[ns]
stoptime               datetime64[ns]
bikeid                         object
tripduration                  float64
from_station_name              object
to_station_name                object
from_station_id                object
to_station_id                  object
usertype                       object
gender                         object
birthyear                      object
Sex_num                       float64
from_station_id_cat          category
from_station_id_num              int8
to_station_id_cat            category
to_station_id_num                int8
Day                            object
Day_cat                      category
dtype: object

In [25]:
bikes["Day_num"] = bikes["Day_cat"].cat.codes

In [26]:
# convenient Series attributes are now available
bikes["sthours"] = bikes.starttime.dt.hour

In [27]:
# convenient Series attributes are now available
bikes["stphours"] = bikes.stoptime.dt.hour

In [28]:
bikes['tripduration_minutes']=bikes['tripduration']/60
desred_decimals = 2    
bikes['tripduration_minutes'] = bikes['tripduration_minutes'].apply(lambda x: round(x,desred_decimals))

In [29]:
 bikes['birthyear'] = bikes['birthyear'].astype(int)

In [30]:
bikes['age'] = 2018 - bikes['birthyear']
desred_decimals = 2    
bikes['birthyear'] = bikes['birthyear'].apply(lambda x: round(x,desred_decimals))
bikes.age.head()

0    58
1    48
2    30
3    41
4    47
Name: age, dtype: int32

Some statistics about age Variable

In [31]:
bikes.age.describe()

count    143543.000000
mean         38.623458
std          10.251359
min          19.000000
25%          31.000000
50%          36.000000
75%          44.000000
max          87.000000
Name: age, dtype: float64

In [32]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143543 entries, 0 to 286847
Data columns (total 24 columns):
trip_id                 143543 non-null int64
starttime               143543 non-null datetime64[ns]
stoptime                143543 non-null datetime64[ns]
bikeid                  143543 non-null object
tripduration            143543 non-null float64
from_station_name       143543 non-null object
to_station_name         143543 non-null object
from_station_id         143543 non-null object
to_station_id           143543 non-null object
usertype                143543 non-null object
gender                  143543 non-null object
birthyear               143543 non-null int64
Sex_num                 140905 non-null float64
from_station_id_cat     143543 non-null category
from_station_id_num     143543 non-null int8
to_station_id_cat       143543 non-null category
to_station_id_num       143543 non-null int8
Day                     143543 non-null object
Day_cat                 143543 non-null category
Day_num                 143543 non-null int8
sthours                 143543 non-null int64
stphours                143543 non-null int64
tripduration_minutes    143543 non-null float64
age                     143543 non-null int32
dtypes: category(3), datetime64[ns](2), float64(3), int32(1), int64(4), int8(3), object(8)
memory usage: 21.1+ MB

# Removing Duplicate values

In [33]:
# detect duplicate trip_id codes: True if an item is identical to a previous item
bikes.trip_id.duplicated().tail()

286842    False
286843    False
286844    False
286845    False
286847    False
Name: trip_id, dtype: bool

The above codes shows that we do not have any duplicated rows in our dataset

In [34]:
# Breaking date column for further Analysis
bikes['bmonth'] = bikes['starttime'].dt.month

In [35]:
# Breaking date column for further Analysis
bikes['Date'] = bikes['starttime'].dt.date

In [36]:
bikes.dtypes

trip_id                          int64
starttime               datetime64[ns]
stoptime                datetime64[ns]
bikeid                          object
tripduration                   float64
from_station_name               object
to_station_name                 object
from_station_id                 object
to_station_id                   object
usertype                        object
gender                          object
birthyear                        int64
Sex_num                        float64
from_station_id_cat           category
from_station_id_num               int8
to_station_id_cat             category
to_station_id_num                 int8
Day                             object
Day_cat                       category
Day_num                           int8
sthours                          int64
stphours                         int64
tripduration_minutes           float64
age                              int32
bmonth                           int64
Date                            object
dtype: object

In [37]:
bikes.Day_num.tail()

286842    6
286843    6
286844    6
286845    6
286847    6
Name: Day_num, dtype: int8

# Filtering Data for year 2015 and 2016

In [38]:
# convert 'Time' to datetime format
bikes['starttime'] = pd.to_datetime(bikes.starttime)

In [39]:
# Breaking date column for further Analysis
bikes['year'] = bikes['starttime'].dt.year

In [40]:
# convert 'Time' to datetime format
bikes['Date'] = pd.to_datetime(bikes.Date)
bikes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143543 entries, 0 to 286847
Data columns (total 27 columns):
trip_id                 143543 non-null int64
starttime               143543 non-null datetime64[ns]
stoptime                143543 non-null datetime64[ns]
bikeid                  143543 non-null object
tripduration            143543 non-null float64
from_station_name       143543 non-null object
to_station_name         143543 non-null object
from_station_id         143543 non-null object
to_station_id           143543 non-null object
usertype                143543 non-null object
gender                  143543 non-null object
birthyear               143543 non-null int64
Sex_num                 140905 non-null float64
from_station_id_cat     143543 non-null category
from_station_id_num     143543 non-null int8
to_station_id_cat       143543 non-null category
to_station_id_num       143543 non-null int8
Day                     143543 non-null object
Day_cat                 143543 non-null category
Day_num                 143543 non-null int8
sthours                 143543 non-null int64
stphours                143543 non-null int64
tripduration_minutes    143543 non-null float64
age                     143543 non-null int32
bmonth                  143543 non-null int64
Date                    143543 non-null datetime64[ns]
year                    143543 non-null int64
dtypes: category(3), datetime64[ns](3), float64(3), int32(1), int64(6), int8(3), object(8)
memory usage: 24.4+ MB

In [41]:
# df2 belong to bikes dataset
df2 = bikes[(bikes.year != 2014) ]
df2.head(100)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,...,Day,Day_cat,Day_num,sthours,stphours,tripduration_minutes,age,bmonth,Date,year
20240,25092,2015-01-01 00:37:00,2015-01-01 00:44:00,SEA00267,459.469,Harvard Ave & E Pine St,Cal Anderson Park / 11th Ave & Pine St,CH-09,CH-08,Member,...,Thursday,Thursday,4,0,0,7.66,27,1,2015-01-01,2015
20252,25114,2015-01-01 03:07:00,2015-01-01 03:18:00,SEA00472,614.453,9th Ave N & Mercer St,E Blaine St & Fairview Ave E,DPD-01,EL-03,Member,...,Thursday,Thursday,4,3,3,10.24,38,1,2015-01-01,2015
20255,25127,2015-01-01 08:12:00,2015-01-01 08:20:00,SEA00245,504.420,E Pine St & 16th Ave,2nd Ave & Pine St,CH-07,CBD-13,Member,...,Thursday,Thursday,4,8,8,8.41,32,1,2015-01-01,2015
20260,25132,2015-01-01 10:55:00,2015-01-01 11:03:00,SEA00391,470.801,E Pine St & 16th Ave,7th Ave & Union St,CH-07,CBD-03,Member,...,Thursday,Thursday,4,10,11,7.85,38,1,2015-01-01,2015
20263,25135,2015-01-01 11:31:00,2015-01-01 11:55:00,SEA00079,1461.638,12th Ave & E Denny Way,Key Arena / 1st Ave N & Harrison St,CH-06,SLU-19,Member,...,Thursday,Thursday,4,11,11,24.36,31,1,2015-01-01,2015
20265,25137,2015-01-01 11:45:00,2015-01-01 11:54:00,SEA00401,524.885,Harvard Ave & E Pine St,Summit Ave E & E Republican St,CH-09,CH-03,Member,...,Thursday,Thursday,4,11,11,8.75,31,1,2015-01-01,2015
20270,25143,2015-01-01 12:13:00,2015-01-01 12:22:00,SEA00347,514.110,E Harrison St & Broadway Ave E,Seattle University / E Columbia St & 12th Ave,CH-02,FH-04,Member,...,Thursday,Thursday,4,12,12,8.57,32,1,2015-01-01,2015
20271,25144,2015-01-01 12:14:00,2015-01-01 12:22:00,SEA00326,472.876,E Harrison St & Broadway Ave E,Seattle University / E Columbia St & 12th Ave,CH-02,FH-04,Member,...,Thursday,Thursday,4,12,12,7.88,37,1,2015-01-01,2015
20274,25147,2015-01-01 12:16:00,2015-01-01 12:27:00,SEA00140,684.994,2nd Ave & Vine St,Republican St & Westlake Ave N,BT-03,SLU-04,Member,...,Thursday,Thursday,4,12,12,11.42,37,1,2015-01-01,2015
20276,25150,2015-01-01 12:52:00,2015-01-01 13:16:00,SEA00212,1463.476,E Pine St & 16th Ave,6th Ave S & S King St,CH-07,ID-04,Member,...,Thursday,Thursday,4,12,13,24.39,33,1,2015-01-01,2015
20277,25151,2015-01-01 12:52:00,2015-01-01 12:59:00,SEA00390,397.101,Cal Anderson Park / 11th Ave & Pine St,E Harrison St & Broadway Ave E,CH-08,CH-02,Member,...,Thursday,Thursday,4,12,12,6.62,43,1,2015-01-01,2015
20281,25155,2015-01-01 12:58:00,2015-01-01 13:16:00,SEA00210,1101.863,E Blaine St & Fairview Ave E,Westlake Ave & 6th Ave,EL-03,SLU-15,Member,...,Thursday,Thursday,4,12,13,18.36,41,1,2015-01-01,2015
20282,25156,2015-01-01 12:59:00,2015-01-01 13:16:00,SEA00141,1057.551,E Blaine St & Fairview Ave E,Westlake Ave & 6th Ave,EL-03,SLU-15,Member,...,Thursday,Thursday,4,12,13,17.63,44,1,2015-01-01,2015
20292,25168,2015-01-01 13:17:00,2015-01-01 13:32:00,SEA00255,929.421,Lake Union Park / Valley St & Boren Ave N,Key Arena / 1st Ave N & Harrison St,SLU-17,SLU-19,Member,...,Thursday,Thursday,4,13,13,15.49,63,1,2015-01-01,2015
20325,25203,2015-01-01 14:22:00,2015-01-01 14:31:00,SEA00390,515.097,E Harrison St & Broadway Ave E,Seattle University / E Columbia St & 12th Ave,CH-02,FH-04,Member,...,Thursday,Thursday,4,14,14,8.58,37,1,2015-01-01,2015
20327,25205,2015-01-01 14:27:00,2015-01-01 14:46:00,SEA00212,1149.250,6th Ave S & S King St,E Pine St & 16th Ave,ID-04,CH-07,Member,...,Thursday,Thursday,4,14,14,19.15,33,1,2015-01-01,2015
20330,25210,2015-01-01 14:49:00,2015-01-01 14:57:00,SEA00319,485.702,E Blaine St & Fairview Ave E,Lake Union Park / Valley St & Boren Ave N,EL-03,SLU-17,Member,...,Thursday,Thursday,4,14,14,8.10,35,1,2015-01-01,2015
20331,25211,2015-01-01 15:00:00,2015-01-01 15:15:00,SEA00264,910.564,E Harrison St & Broadway Ave E,12th Ave & NE Campus Pkwy,CH-02,UD-04,Member,...,Thursday,Thursday,4,15,15,15.18,50,1,2015-01-01,2015
20332,25212,2015-01-01 15:02:00,2015-01-01 15:12:00,SEA00206,628.489,Bellevue Ave & E Pine St,15th Ave E & E Thomas St,CH-12,CH-05,Member,...,Thursday,Thursday,4,15,15,10.47,32,1,2015-01-01,2015
20333,25213,2015-01-01 15:15:00,2015-01-01 15:25:00,SEA00418,549.486,Summit Ave E & E Republican St,15th Ave E & E Thomas St,CH-03,CH-05,Member,...,Thursday,Thursday,4,15,15,9.16,41,1,2015-01-01,2015
20337,25217,2015-01-01 15:19:00,2015-01-01 15:27:00,SEA00056,465.429,3rd Ave & Broad St,2nd Ave & Pine St,BT-01,CBD-13,Member,...,Thursday,Thursday,4,15,15,7.76,49,1,2015-01-01,2015
20342,25222,2015-01-01 15:27:00,2015-01-01 15:36:00,SEA00312,495.314,E Harrison St & Broadway Ave E,Cal Anderson Park / 11th Ave & Pine St,CH-02,CH-08,Member,...,Thursday,Thursday,4,15,15,8.26,43,1,2015-01-01,2015
20346,25226,2015-01-01 15:40:00,2015-01-01 15:57:00,SEA00215,983.226,15th Ave E & E Thomas St,Eastlake Ave E & E Allison St,CH-05,EL-05,Member,...,Thursday,Thursday,4,15,15,16.39,34,1,2015-01-01,2015
20347,25228,2015-01-01 15:46:00,2015-01-01 15:54:00,SEA00056,474.824,2nd Ave & Pine St,3rd Ave & Broad St,CBD-13,BT-01,Member,...,Thursday,Thursday,4,15,15,7.91,49,1,2015-01-01,2015
20348,25229,2015-01-01 15:45:00,2015-01-01 15:58:00,SEA00382,737.699,15th Ave E & E Thomas St,REI / Yale Ave N & John St,CH-05,SLU-01,Member,...,Thursday,Thursday,4,15,15,12.29,30,1,2015-01-01,2015
20350,25231,2015-01-01 16:04:00,2015-01-01 16:12:00,SEA00212,480.341,E Pine St & 16th Ave,E Harrison St & Broadway Ave E,CH-07,CH-02,Member,...,Thursday,Thursday,4,16,16,8.01,37,1,2015-01-01,2015
20351,25232,2015-01-01 16:04:00,2015-01-01 16:13:00,SEA00135,491.257,E Pine St & 16th Ave,E Harrison St & Broadway Ave E,CH-07,CH-02,Member,...,Thursday,Thursday,4,16,16,8.19,32,1,2015-01-01,2015
20356,25237,2015-01-01 16:17:00,2015-01-01 16:33:00,SEA00421,939.485,City Hall / 4th Ave & James St,E Harrison St & Broadway Ave E,CBD-07,CH-02,Member,...,Thursday,Thursday,4,16,16,15.66,31,1,2015-01-01,2015
20357,25238,2015-01-01 16:19:00,2015-01-01 16:27:00,SEA00278,451.038,12th Ave & E Denny Way,PATH / 9th Ave & Westlake Ave,CH-06,SLU-07,Member,...,Thursday,Thursday,4,16,16,7.52,27,1,2015-01-01,2015
20358,25239,2015-01-01 16:23:00,2015-01-01 16:28:00,SEA00116,311.966,PATH / 9th Ave & Westlake Ave,REI / Yale Ave N & John St,SLU-07,SLU-01,Member,...,Thursday,Thursday,4,16,16,5.20,43,1,2015-01-01,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20437,25324,2015-01-02 10:42:00,2015-01-02 11:04:00,SEA00299,1265.463,Occidental Park / Occidental Ave S & S Washing...,Cal Anderson Park / 11th Ave & Pine St,PS-04,CH-08,Member,...,Friday,Friday,0,10,11,21.09,32,1,2015-01-02,2015
20438,25325,2015-01-02 11:21:00,2015-01-02 11:34:00,SEA00100,835.595,Harvard Ave & E Pine St,15th Ave E & E Thomas St,CH-09,CH-05,Member,...,Friday,Friday,0,11,11,13.93,71,1,2015-01-02,2015
20439,25326,2015-01-02 11:25:00,2015-01-02 11:32:00,SEA00309,406.067,Fred Hutchinson Cancer Research Center / Fairv...,PATH / 9th Ave & Westlake Ave,EL-01,SLU-07,Member,...,Friday,Friday,0,11,11,6.77,55,1,2015-01-02,2015
20440,25327,2015-01-02 11:38:00,2015-01-02 11:55:00,SEA00168,993.430,Eastlake Ave E & E Allison St,Lake Union Park / Valley St & Boren Ave N,EL-05,SLU-17,Member,...,Friday,Friday,0,11,11,16.56,34,1,2015-01-02,2015
20443,25330,2015-01-02 11:52:00,2015-01-02 11:58:00,SEA00208,330.189,12th Ave & NE Campus Pkwy,UW Engineering Library / E Stevens Way NE & Je...,UD-04,UW-06,Member,...,Friday,Friday,0,11,11,5.50,28,1,2015-01-02,2015
20446,25333,2015-01-02 12:13:00,2015-01-02 12:20:00,SEA00405,416.075,2nd Ave & Vine St,Republican St & Westlake Ave N,BT-03,SLU-04,Member,...,Friday,Friday,0,12,12,6.93,37,1,2015-01-02,2015
20447,25334,2015-01-02 12:21:00,2015-01-02 12:32:00,SEA00277,652.883,King Street Station Plaza / 2nd Ave Extension ...,Seattle Aquarium / Alaskan Way S & Elliott Bay...,PS-05,WF-04,Member,...,Friday,Friday,0,12,12,10.88,35,1,2015-01-02,2015
20448,25335,2015-01-02 12:26:00,2015-01-02 12:49:00,SEA00153,1372.678,Burke-Gilman Trail / NE Blakeley St & 24th Ave NE,15th Ave NE & NE 40th St,UD-01,UW-04,Member,...,Friday,Friday,0,12,12,22.88,41,1,2015-01-02,2015
20449,25336,2015-01-02 12:26:00,2015-01-02 12:43:00,SEA00496,1012.147,Key Arena / 1st Ave N & Harrison St,7th Ave & Union St,SLU-19,CBD-03,Member,...,Friday,Friday,0,12,12,16.87,47,1,2015-01-02,2015
20450,25337,2015-01-02 12:39:00,2015-01-02 12:44:00,SEA00340,342.515,2nd Ave & Pine St,1st Ave & Marion St,CBD-13,CBD-05,Member,...,Friday,Friday,0,12,12,5.71,69,1,2015-01-02,2015
20451,25338,2015-01-02 12:43:00,2015-01-02 12:49:00,SEA00198,373.090,3rd Ave & Broad St,PATH / 9th Ave & Westlake Ave,BT-01,SLU-07,Member,...,Friday,Friday,0,12,12,6.22,34,1,2015-01-02,2015
20453,25340,2015-01-02 12:50:00,2015-01-02 13:01:00,SEA00196,639.008,King Street Station Plaza / 2nd Ave Extension ...,2nd Ave & Spring St,PS-05,CBD-06,Member,...,Friday,Friday,0,12,13,10.65,35,1,2015-01-02,2015
20454,25341,2015-01-02 12:52:00,2015-01-02 13:09:00,SEA00496,1048.554,7th Ave & Union St,Key Arena / 1st Ave N & Harrison St,CBD-03,SLU-19,Member,...,Friday,Friday,0,12,13,17.48,47,1,2015-01-02,2015
20455,25342,2015-01-02 12:52:00,2015-01-02 12:59:00,SEA00056,403.213,3rd Ave & Broad St,2nd Ave & Spring St,BT-01,CBD-06,Member,...,Friday,Friday,0,12,12,6.72,34,1,2015-01-02,2015
20457,25344,2015-01-02 12:56:00,2015-01-02 13:03:00,SEA00309,376.005,PATH / 9th Ave & Westlake Ave,Fred Hutchinson Cancer Research Center / Fairv...,SLU-07,EL-01,Member,...,Friday,Friday,0,12,13,6.27,55,1,2015-01-02,2015
20458,25345,2015-01-02 13:02:00,2015-01-02 13:15:00,SEA00100,795.976,15th Ave E & E Thomas St,Bellevue Ave & E Pine St,CH-05,CH-12,Member,...,Friday,Friday,0,13,13,13.27,71,1,2015-01-02,2015
20459,25346,2015-01-02 13:08:00,2015-01-02 13:28:00,SEA00447,1150.649,E Blaine St & Fairview Ave E,2nd Ave & Spring St,EL-03,CBD-06,Member,...,Friday,Friday,0,13,13,19.18,41,1,2015-01-02,2015
20461,25349,2015-01-02 13:16:00,2015-01-02 13:26:00,SEA00135,649.109,E Harrison St & Broadway Ave E,E Pine St & 16th Ave,CH-02,CH-07,Member,...,Friday,Friday,0,13,13,10.82,50,1,2015-01-02,2015
20464,25353,2015-01-02 13:26:00,2015-01-02 13:31:00,SEA00483,350.746,2nd Ave & Vine St,Republican St & Westlake Ave N,BT-03,SLU-04,Member,...,Friday,Friday,0,13,13,5.85,29,1,2015-01-02,2015
20465,25354,2015-01-02 13:38:00,2015-01-02 13:55:00,SEA00063,993.728,E Harrison St & Broadway Ave E,2nd Ave & Pine St,CH-02,CBD-13,Member,...,Friday,Friday,0,13,13,16.56,27,1,2015-01-02,2015
20467,25356,2015-01-02 13:56:00,2015-01-02 14:03:00,SEA00232,425.978,2nd Ave & Spring St,King Street Station Plaza / 2nd Ave Extension ...,CBD-06,PS-05,Member,...,Friday,Friday,0,13,14,7.10,35,1,2015-01-02,2015
20468,25357,2015-01-02 14:03:00,2015-01-02 14:09:00,SEA00356,330.987,Westlake Ave & 6th Ave,3rd Ave & Broad St,SLU-15,BT-01,Member,...,Friday,Friday,0,14,14,5.52,34,1,2015-01-02,2015
20469,25358,2015-01-02 14:10:00,2015-01-02 14:16:00,SEA00278,365.864,PATH / 9th Ave & Westlake Ave,7th Ave & Union St,SLU-07,CBD-03,Member,...,Friday,Friday,0,14,14,6.10,45,1,2015-01-02,2015
20470,25359,2015-01-02 14:12:00,2015-01-02 14:33:00,SEA00477,1269.127,Occidental Park / Occidental Ave S & S Washing...,Cal Anderson Park / 11th Ave & Pine St,PS-04,CH-08,Member,...,Friday,Friday,0,14,14,21.15,69,1,2015-01-02,2015
20474,25363,2015-01-02 14:32:00,2015-01-02 14:49:00,SEA00168,1023.856,Lake Union Park / Valley St & Boren Ave N,Eastlake Ave E & E Allison St,SLU-17,EL-05,Member,...,Friday,Friday,0,14,14,17.06,34,1,2015-01-02,2015
20476,25365,2015-01-02 14:48:00,2015-01-02 14:57:00,SEA00235,563.844,UW Engineering Library / E Stevens Way NE & Je...,12th Ave & NE Campus Pkwy,UW-06,UD-04,Member,...,Friday,Friday,0,14,14,9.40,31,1,2015-01-02,2015
20477,25366,2015-01-02 14:53:00,2015-01-02 15:07:00,SEA00477,836.574,Cal Anderson Park / 11th Ave & Pine St,1st Ave & Marion St,CH-08,CBD-05,Member,...,Friday,Friday,0,14,15,13.94,69,1,2015-01-02,2015
20479,25371,2015-01-02 15:39:00,2015-01-02 15:52:00,SEA00383,785.410,2nd Ave & Pine St,E Blaine St & Fairview Ave E,CBD-13,EL-03,Member,...,Friday,Friday,0,15,15,13.09,41,1,2015-01-02,2015
20481,25373,2015-01-02 15:51:00,2015-01-02 15:56:00,SEA00208,318.126,UW Engineering Library / E Stevens Way NE & Je...,NE 42nd St & University Way NE,UW-06,UD-02,Member,...,Friday,Friday,0,15,15,5.30,28,1,2015-01-02,2015
20489,25381,2015-01-02 16:31:00,2015-01-02 16:43:00,SEA00365,752.358,2nd Ave & Blanchard St,Summit Ave & E Denny Way,BT-05,CH-01,Member,...,Friday,Friday,0,16,16,12.54,36,1,2015-01-02,2015

# Saving Bike data

In [42]:
df2.to_csv('C:\\Users\\mrferozi\\Desktop\\GitHub\\Bike\\dataset\\cycle\\trip_clean.csv')

-----------------------------------------------------

# Cleaning Weather Data

In [5]:
# read in a CSV
df = pd.read_csv('C:/Users/mrferozi/Desktop/GitHub/Bike/cycle-share-dataset-orignal/weather.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 21 columns):
Date                          689 non-null object
Max_Temperature_F             689 non-null int64
Mean_Temperature_F            688 non-null float64
Min_TemperatureF              689 non-null int64
Max_Dew_Point_F               689 non-null int64
MeanDew_Point_F               689 non-null int64
Min_Dewpoint_F                689 non-null int64
Max_Humidity                  689 non-null int64
Mean_Humidity                 689 non-null int64
Min_Humidity                  689 non-null int64
Max_Sea_Level_Pressure_In     689 non-null float64
Mean_Sea_Level_Pressure_In    689 non-null float64
Min_Sea_Level_Pressure_In     689 non-null float64
Max_Visibility_Miles          689 non-null int64
Mean_Visibility_Miles         689 non-null int64
Min_Visibility_Miles          689 non-null int64
Max_Wind_Speed_MPH            689 non-null int64
Mean_Wind_Speed_MPH           689 non-null int64
Max_Gust_Speed_MPH            504 non-null object
Precipitation_In              689 non-null float64
Events                        328 non-null object
dtypes: float64(5), int64(13), object(3)
memory usage: 113.1+ KB

# Converting temprature from Fahrenheit to Celsius

The definition of precipitation is any form of water - liquid or solid - falling from the sky. It includes rain, sleet, snow, hail and drizzle plus a few less common occurrences such as ice pellets, diamond dust and freezing rain.
https://www.metoffice.gov.uk/learning/learn-about-the-weather/weather-phenomena/what-is-precipitation

- Converting  temprature from Fahrenheit to Celsius

T(°C) = (T(°F) - 32) × 5/9

Example

Convert 68 degrees Fahrenheit to degrees Celsius:


T(°C) = (68°F - 32) × 5/9 = 20 °C
https://www.rapidtables.com/convert/temperature/how-fahrenheit-to-celsius.html

In [7]:
a = df.Mean_Temperature_F-32

In [8]:
df['Mean_Temperature_C'] = a * 5/9
desred_decimals = 2    
df['Mean_Temperature_C'] = df['Mean_Temperature_C'].apply(lambda x: round(x,desred_decimals))

In [9]:
# 'isnull' returns a DataFrame of booleans (True if missing, False if not missing)
df.isnull().tail()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Mean_Temperature_C
684,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
685,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
686,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
687,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
688,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [10]:
# count the number of missing values in each Series
df.isnull().sum()

Date                            0
Max_Temperature_F               0
Mean_Temperature_F              1
Min_TemperatureF                0
Max_Dew_Point_F                 0
MeanDew_Point_F                 0
Min_Dewpoint_F                  0
Max_Humidity                    0
Mean_Humidity                   0
Min_Humidity                    0
Max_Sea_Level_Pressure_In       0
Mean_Sea_Level_Pressure_In      0
Min_Sea_Level_Pressure_In       0
Max_Visibility_Miles            0
Mean_Visibility_Miles           0
Min_Visibility_Miles            0
Max_Wind_Speed_MPH              0
Mean_Wind_Speed_MPH             0
Max_Gust_Speed_MPH            185
Precipitation_In                0
Events                        361
Mean_Temperature_C              1
dtype: int64

# Filling Max_Gust_Speed_MPH  with Some Values

In [11]:
#Checking column for exsisting values
df['Max_Gust_Speed_MPH']

0       21
1       17
2       25
3        -
4        -
5        -
6       18
7        -
8       21
9       22
10      22
11       -
12      41
13      30
14       -
15       -
16      24
17       -
18       -
19       -
20       -
21      20
22       -
23       -
24      37
25       -
26       -
27      16
28       -
29      22
      ...
659     17
660    NaN
661     21
662    NaN
663    NaN
664    NaN
665    NaN
666    NaN
667     17
668     20
669    NaN
670    NaN
671    NaN
672    NaN
673    NaN
674    NaN
675    NaN
676    NaN
677    NaN
678    NaN
679    NaN
680    NaN
681    NaN
682    NaN
683    NaN
684    NaN
685    NaN
686    NaN
687     18
688    NaN
Name: Max_Gust_Speed_MPH, dtype: object

In [12]:
# fill in missing values with a specified value
df['Max_Gust_Speed_MPH'].fillna(value='0', inplace=True)
df.Max_Gust_Speed_MPH.replace('-','0',inplace=True)
df['Max_Gust_Speed_MPH']

0      21
1      17
2      25
3       0
4       0
5       0
6      18
7       0
8      21
9      22
10     22
11      0
12     41
13     30
14      0
15      0
16     24
17      0
18      0
19      0
20      0
21     20
22      0
23      0
24     37
25      0
26      0
27     16
28      0
29     22
       ..
659    17
660     0
661    21
662     0
663     0
664     0
665     0
666     0
667    17
668    20
669     0
670     0
671     0
672     0
673     0
674     0
675     0
676     0
677     0
678     0
679     0
680     0
681     0
682     0
683     0
684     0
685     0
686     0
687    18
688     0
Name: Max_Gust_Speed_MPH, dtype: object

In [13]:
##Filling Null values with the mean of Max_Gust_Speed_MPH' values
df['Max_Gust_Speed_MPH'] = df['Max_Gust_Speed_MPH'].astype(int)
df['Max_Gust_Speed_MPH'].mean()

9.252539912917271

In [14]:
df.Max_Gust_Speed_MPH.replace('0','9.26',inplace=True)

# Filling Events with Some Values

In [15]:
# count the number of missing values in each Series
df.isnull().sum()

Date                            0
Max_Temperature_F               0
Mean_Temperature_F              1
Min_TemperatureF                0
Max_Dew_Point_F                 0
MeanDew_Point_F                 0
Min_Dewpoint_F                  0
Max_Humidity                    0
Mean_Humidity                   0
Min_Humidity                    0
Max_Sea_Level_Pressure_In       0
Mean_Sea_Level_Pressure_In      0
Min_Sea_Level_Pressure_In       0
Max_Visibility_Miles            0
Mean_Visibility_Miles           0
Min_Visibility_Miles            0
Max_Wind_Speed_MPH              0
Mean_Wind_Speed_MPH             0
Max_Gust_Speed_MPH              0
Precipitation_In                0
Events                        361
Mean_Temperature_C              1
dtype: int64

In [16]:
import pandas as pd
Inplace = True
for index, row in df.iterrows():
    a = row.Precipitation_In
    if a == 0:
        df.at[index, 'Events'] = 'Rain'

In [17]:
# count the number of missing values in each Series
df.isnull().sum()

Date                           0
Max_Temperature_F              0
Mean_Temperature_F             1
Min_TemperatureF               0
Max_Dew_Point_F                0
MeanDew_Point_F                0
Min_Dewpoint_F                 0
Max_Humidity                   0
Mean_Humidity                  0
Min_Humidity                   0
Max_Sea_Level_Pressure_In      0
Mean_Sea_Level_Pressure_In     0
Min_Sea_Level_Pressure_In      0
Max_Visibility_Miles           0
Mean_Visibility_Miles          0
Min_Visibility_Miles           0
Max_Wind_Speed_MPH             0
Mean_Wind_Speed_MPH            0
Max_Gust_Speed_MPH             0
Precipitation_In               0
Events                        14
Mean_Temperature_C             1
dtype: int64

In [18]:
import pandas as pd
Inplace = True
#df['Mean_Temperature_C'] = df['Mean_Temperature_C'].astype(int)
for index, row in df.iterrows():
    a = row.Mean_Temperature_C
    if a >= 14:
        df.at[index, 'Events'] = 'Sunny'
    print (a)

16.67
15.0
14.44
16.11
15.56
17.78
17.78
15.56
14.44
14.44
12.78
13.33
14.44
11.11
12.22
13.33
15.0
14.44
12.22
11.11
10.56
14.44
14.44
13.89
15.56
11.11
8.89
11.11
8.89
5.56
3.89
4.44
3.33
3.33
3.89
5.0
3.89
6.67
9.44
11.11
8.89
10.0
8.33
13.33
15.0
14.44
8.89
1.67
0.56
1.11
1.67
4.44
6.67
10.0
11.11
9.44
12.78
13.89
16.11
12.78
11.11
7.78
8.33
8.89
8.89
8.89
8.89
10.0
11.11
12.78
8.89
8.89
6.67
5.56
5.56
8.33
6.67
5.56
1.11
1.11
1.67
3.33
3.33
8.89
13.33
10.0
8.33
6.67
6.67
7.78
8.89
9.44
6.67
5.56
5.0
10.0
7.78
12.22
9.44
7.78
4.44
8.89
12.22
14.44
13.89
12.78
11.11
10.0
8.89
6.67
5.56
8.89
10.0
8.89
8.33
12.22
13.33
12.22
12.22
11.11
11.11
10.56
16.67
12.22
12.22
8.89
11.67
11.11
8.89
10.56
11.11
10.0
7.22
6.67
7.22
9.44
10.56
10.56
8.33
6.67
9.44
5.56
6.67
8.89
9.44
10.0
10.0
9.44
10.0
13.33
15.56
15.0
14.44
10.0
11.11
10.56
12.22
13.33
13.33
12.78
9.44
8.89
11.11
12.22
16.67
15.0
14.44
13.89
15.56
10.0
10.0
10.0
9.44
8.89
10.0
11.11
12.22
12.22
12.22
12.22
10.0
11.11
8.89
8.33
9.44
11.11
13.33
13.89
14.44
15.56
13.33
11.11
10.0
11.11
11.11
11.11
18.89
13.33
13.33
13.89
15.0
14.44
13.89
12.78
12.22
13.33
14.44
16.67
18.89
16.67
13.33
14.44
12.22
15.56
15.56
14.44
16.67
18.89
18.33
17.78
20.0
15.56
15.0
15.56
14.44
17.78
19.44
21.11
21.67
17.22
18.33
15.56
15.56
16.67
18.33
20.0
22.22
23.33
22.78
22.22
20.0
18.89
17.78
17.78
20.56
22.22
17.78
19.44
21.11
18.89
18.89
21.11
19.44
20.0
22.22
24.44
24.44
25.56
24.44
25.56
23.89
24.44
26.67
26.67
25.0
25.56
23.33
21.11
23.33
22.78
20.0
20.0
22.22
22.22
22.22
22.22
22.22
21.67
25.56
28.33
23.33
20.0
20.0
21.67
19.44
18.89
18.89
18.33
22.22
23.89
25.56
26.67
25.0
25.0
24.44
21.11
18.33
21.11
22.22
21.11
22.22
23.89
24.44
23.89
23.33
18.33
18.89
20.0
21.11
23.33
25.56
20.0
18.89
20.0
21.11
18.89
20.0
21.67
23.33
21.11
18.89
18.33
18.89
17.78
17.22
15.56
15.56
14.44
14.44
18.89
19.44
20.56
20.0
22.22
21.67
18.89
14.44
15.0
15.56
16.67
17.78
18.89
18.89
15.56
13.89
15.56
17.78
16.11
15.56
12.78
16.11
16.67
15.56
15.56
14.44
16.67
16.67
16.67
15.56
15.56
17.78
16.67
18.89
15.56
16.11
14.44
14.44
15.56
15.56
16.67
15.56
16.67
15.0
13.89
12.78
11.11
12.78
13.89
12.78
12.22
13.33
15.56
15.56
15.0
12.22
10.0
8.33
7.22
11.11
13.33
12.22
11.11
8.89
7.78
10.0
8.89
13.33
8.89
6.67
6.67
12.22
7.22
6.67
5.56
6.67
5.56
4.44
6.67
5.56
5.0
3.89
2.22
1.11
2.22
8.33
8.89
11.11
9.44
8.33
11.11
11.11
14.44
11.11
10.0
8.89
8.89
7.78
5.56
4.44
5.0
5.56
7.78
6.67
7.78
5.56
5.56
5.0
5.0
3.33
3.33
4.44
4.44
4.44
2.22
1.67
1.11
1.11
1.11
3.33
4.44
6.11
3.33
3.89
3.89
6.11
3.33
5.56
8.89
5.56
4.44
8.89
7.78
8.89
6.67
7.78
8.89
10.0
7.22
6.67
7.22
10.0
12.22
10.0
8.33
5.56
5.56
5.0
5.56
6.67
7.78
8.89
5.56
6.11
8.89
10.0
10.0
10.0
11.11
8.89
nan
12.22
11.67
11.11
9.44
7.78
6.67
5.56
7.78
8.89
10.0
10.0
10.56
11.11
8.89
8.89
10.0
10.0
11.11
8.89
13.33
11.11
8.89
7.78
8.89
8.89
7.78
7.78
8.33
6.67
7.78
8.33
8.33
11.11
12.22
11.11
10.0
10.0
10.0
9.44
10.0
10.0
8.33
7.78
10.0
12.22
15.0
14.44
12.22
14.44
12.22
11.11
13.33
17.22
17.78
12.78
11.11
12.22
11.11
11.11
11.11
12.22
13.33
17.78
21.11
20.0
19.44
17.22
14.44
14.44
10.56
11.11
11.11
13.33
14.44
12.78
13.33
17.22
21.11
18.33
13.33
15.56
18.89
20.0
13.33
13.89
15.56
18.89
17.78
20.0
15.0
13.33
13.33
16.11
15.56
12.78
14.44
13.33
15.56
15.0
16.67
15.56
14.44
13.89
13.33
14.44
15.56
18.89
18.89
17.78
20.0
22.22
25.56
23.33
22.22
16.67
15.0
14.44
14.44
16.67
15.56
12.22
13.33
16.11
15.56
15.56
14.44
18.89
17.78
18.33
16.67
15.56
17.78
19.44
22.78
18.89
18.33
18.33
18.89
20.56
17.78
16.67
17.22
18.89
17.78
18.89
17.78
18.89
17.78
20.0
20.0
18.89
18.89
18.89
21.11
19.44
21.11
22.22
21.67
18.89
18.89
20.0
22.78
21.11
21.67
22.78
23.89
19.44
17.78
18.89
17.78
18.89
20.56
21.11
17.22
18.89
17.78
18.89
20.0
21.11
23.89
25.56
21.67
22.22
20.56
21.11
22.78
15.56
25.56
18.89
17.78
19.44
21.11
25.0
23.33
18.89
20.0
20.0
17.78
18.33

In [1]:
#Search google for Sunny condition in Seattle
from IPython.display import HTML
HTML('<iframe src=https://www.accuweather.com/en/us/seattle-wa/98104/current-weather/351409 width=1000 height=350></iframe>')

In [20]:
# count the number of missing values in each Series
df.isnull().sum()

Date                          0
Max_Temperature_F             0
Mean_Temperature_F            1
Min_TemperatureF              0
Max_Dew_Point_F               0
MeanDew_Point_F               0
Min_Dewpoint_F                0
Max_Humidity                  0
Mean_Humidity                 0
Min_Humidity                  0
Max_Sea_Level_Pressure_In     0
Mean_Sea_Level_Pressure_In    0
Min_Sea_Level_Pressure_In     0
Max_Visibility_Miles          0
Mean_Visibility_Miles         0
Min_Visibility_Miles          0
Max_Wind_Speed_MPH            0
Mean_Wind_Speed_MPH           0
Max_Gust_Speed_MPH            0
Precipitation_In              0
Events                        7
Mean_Temperature_C            1
dtype: int64

In [21]:
# confirm that the missing values were filled in
df['Events'].value_counts().head()

Rain                 339
Sunny                325
Fog , Rain             5
Fog-Rain               5
Rain-Thunderstorm      3
Name: Events, dtype: int64

# Encoding Columns values

In [22]:
df.Events.replace('Fog-Rain', 'Fog, Rain',inplace=True)
df.Events.replace('Fog , Rain', 'Fog, Rain',inplace=True)

In [23]:
df['Events'].value_counts().head()

Rain                 339
Sunny                325
Fog, Rain             10
Rain-Thunderstorm      3
Fog                    2
Name: Events, dtype: int64

# Converting Categorical variable to nominal

In [24]:
df["Events_cat"] = df["Events"].astype('category')
df.dtypes

Date                            object
Max_Temperature_F                int64
Mean_Temperature_F             float64
Min_TemperatureF                 int64
Max_Dew_Point_F                  int64
MeanDew_Point_F                  int64
Min_Dewpoint_F                   int64
Max_Humidity                     int64
Mean_Humidity                    int64
Min_Humidity                     int64
Max_Sea_Level_Pressure_In      float64
Mean_Sea_Level_Pressure_In     float64
Min_Sea_Level_Pressure_In      float64
Max_Visibility_Miles             int64
Mean_Visibility_Miles            int64
Min_Visibility_Miles             int64
Max_Wind_Speed_MPH               int64
Mean_Wind_Speed_MPH              int64
Max_Gust_Speed_MPH              object
Precipitation_In               float64
Events                          object
Mean_Temperature_C             float64
Events_cat                    category
dtype: object

In [25]:
df["Events_num"] = df["Events_cat"].cat.codes

In [29]:
df["Events_cat"] = df["Events"].astype('category')
df["Events_num"] = df["Events_cat"].cat.codes

In [36]:
df['Events_num'].mode()

0    2
dtype: int8

In [37]:
df[(df.Events_num == 2)]

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Mean_Temperature_C,Events_cat,Events_num
10,10/23/2014,62,55.0,50,49,47,44,86,76,62,...,10,10,15,9,22,0.35,Rain,12.78,Rain,2
11,10/24/2014,60,56.0,51,50,47,44,86,75,60,...,10,8,8,4,9.26,0.13,Rain,13.33,Rain,2
13,10/26/2014,59,52.0,48,48,44,42,86,71,62,...,10,10,20,12,30,0.05,Rain,11.11,Rain,2
14,10/27/2014,62,54.0,45,46,43,41,87,72,48,...,10,10,7,4,9.26,0.01,Rain,12.22,Rain,2
15,10/28/2014,62,56.0,51,54,50,45,88,80,72,...,8,2,14,5,9.26,0.34,Rain,13.33,Rain,2
18,10/31/2014,59,54.0,52,52,49,46,89,83,67,...,8,2,8,4,9.26,0.77,Rain,12.22,Rain,2
19,11/01/2014,55,52.0,48,48,45,42,89,78,62,...,10,7,6,1,9.26,0.00,Rain,11.11,Rain,2
20,11/02/2014,57,51.0,45,52,47,42,90,82,62,...,9,4,9,5,9.26,0.11,Rain,10.56,Rain,2
23,11/05/2014,61,57.0,53,55,51,48,90,79,64,...,10,3,7,2,9.26,0.27,Rain,13.89,Rain,2
25,11/07/2014,59,52.0,45,45,43,40,86,72,53,...,10,10,7,3,9.26,0.00,Rain,11.11,Rain,2
26,11/08/2014,55,48.0,42,44,42,39,93,78,60,...,8,2,7,1,9.26,0.00,Rain,8.89,Rain,2
27,11/09/2014,57,52.0,48,50,46,43,87,80,72,...,9,3,12,6,16,0.29,Rain,11.11,Rain,2
28,11/10/2014,54,48.0,43,43,40,34,86,71,54,...,10,10,8,2,9.26,0.00,Rain,8.89,Rain,2
29,11/11/2014,48,42.0,36,39,18,3,80,42,20,...,10,10,15,5,22,0.00,Rain,5.56,Rain,2
30,11/12/2014,46,39.0,32,10,4,1,40,24,16,...,10,10,13,8,22,0.00,Rain,3.89,Rain,2
31,11/13/2014,48,40.0,30,19,9,2,64,30,18,...,10,10,12,4,22,0.00,Rain,4.44,Rain,2
32,11/14/2014,48,38.0,28,26,18,11,69,48,23,...,10,10,8,2,9.26,0.00,Rain,3.33,Rain,2
33,11/15/2014,48,38.0,27,25,18,10,75,51,21,...,10,10,7,1,9.26,0.00,Rain,3.33,Rain,2
34,11/16/2014,50,39.0,28,27,21,15,69,53,25,...,10,10,8,1,9.26,0.00,Rain,3.89,Rain,2
35,11/17/2014,52,41.0,30,29,25,22,75,60,34,...,10,9,8,1,9.26,0.00,Rain,5.00,Rain,2
36,11/18/2014,48,39.0,30,36,31,25,86,75,54,...,8,5,6,1,9.26,0.00,Rain,3.89,Rain,2
37,11/19/2014,52,44.0,36,37,34,30,86,66,48,...,9,5,9,2,9.26,0.00,Rain,6.67,Rain,2
38,11/20/2014,54,49.0,44,46,43,39,87,80,71,...,10,7,8,4,9.26,0.11,Rain,9.44,Rain,2
39,11/21/2014,55,52.0,50,48,45,41,87,79,66,...,8,4,18,7,33,0.67,Rain,11.11,Rain,2
40,11/22/2014,51,48.0,45,43,41,39,86,77,66,...,10,10,13,8,21,0.03,Rain,8.89,Rain,2
41,11/23/2014,57,50.0,44,47,42,39,82,74,57,...,10,5,20,10,28,0.42,Rain,10.00,Rain,2
42,11/24/2014,55,47.0,39,50,41,35,89,79,66,...,8,2,13,6,25,0.01,Rain,8.33,Rain,2
43,11/25/2014,60,56.0,51,54,50,46,89,83,77,...,6,2,17,6,29,0.33,Rain,13.33,Rain,2
46,11/28/2014,57,48.0,39,51,43,35,87,80,72,...,7,2,15,9,26,1.39,Rain,8.89,Rain,2
48,11/30/2014,39,33.0,27,23,21,18,78,64,47,...,10,10,8,2,9.26,0.00,Rain,0.56,Rain,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,3/29/2016,64,50.0,37,43,39,36,100,74,38,...,9,1,12,4,20,0.00,Rain,10.00,Rain,2
534,3/30/2016,68,54.0,43,45,42,39,93,64,37,...,10,10,8,2,9.26,0.00,Rain,12.22,Rain,2
537,04/02/2016,63,54.0,48,49,47,45,100,80,58,...,10,10,12,4,9.26,0.00,Rain,12.22,Rain,2
539,04/04/2016,60,54.0,46,50,43,40,92,72,51,...,10,5,18,12,30,0.17,Rain,12.22,Rain,2
540,04/05/2016,57,52.0,46,46,44,42,86,77,64,...,10,10,14,8,21,0.00,Rain,11.11,Rain,2
541,04/06/2016,68,56.0,45,47,44,40,90,67,38,...,10,10,12,4,17,0.00,Rain,13.33,Rain,2
544,04/09/2016,66,55.0,46,50,47,44,100,73,48,...,10,10,6,2,9.26,0.00,Rain,12.78,Rain,2
545,04/10/2016,59,52.0,48,45,43,42,86,71,57,...,10,10,9,7,9.26,0.00,Rain,11.11,Rain,2
546,04/11/2016,57,54.0,50,44,42,39,80,67,51,...,10,10,10,6,9.26,0.00,Rain,12.22,Rain,2
547,04/12/2016,60,52.0,46,48,44,41,97,79,59,...,9,4,16,8,23,0.44,Rain,11.11,Rain,2
548,4/13/2016,59,52.0,46,46,42,37,97,73,44,...,10,10,13,6,17,0.00,Rain,11.11,Rain,2
549,4/14/2016,59,52.0,45,46,42,38,93,73,49,...,10,6,14,6,32,0.20,Rain,11.11,Rain,2
550,4/15/2016,60,54.0,48,47,43,39,90,70,48,...,10,10,14,6,17,0.00,Rain,12.22,Rain,2
551,4/16/2016,68,56.0,43,45,41,35,89,62,31,...,10,10,8,4,9.26,0.00,Rain,13.33,Rain,2
559,4/24/2016,55,51.0,48,49,46,42,93,83,66,...,9,5,10,6,18,0.27,Rain,10.56,Rain,2
561,4/26/2016,60,52.0,43,44,41,37,93,69,44,...,10,10,8,4,9.26,0.00,Rain,11.11,Rain,2
562,4/27/2016,61,56.0,51,47,44,40,80,67,46,...,10,10,12,2,9.26,0.00,Rain,13.33,Rain,2
564,4/29/2016,61,55.0,50,49,46,43,96,74,53,...,10,5,8,4,9.26,0.04,Rain,12.78,Rain,2
565,4/30/2016,68,56.0,45,47,44,40,97,64,37,...,10,10,12,3,18,0.00,Rain,13.33,Rain,2
569,05/04/2016,60,56.0,54,50,47,44,80,72,58,...,10,10,14,5,9.26,0.00,Rain,13.33,Rain,2
573,05/08/2016,63,56.0,50,50,46,42,100,72,46,...,9,2,13,7,16,0.02,Rain,13.33,Rain,2
574,05/09/2016,66,57.0,48,47,44,38,90,64,37,...,10,10,8,5,9.26,0.00,Rain,13.89,Rain,2
580,5/15/2016,57,56.0,54,55,53,51,97,91,86,...,10,6,8,6,9.26,0.00,Rain,13.33,Rain,2
581,5/16/2016,60,56.0,52,53,50,49,100,82,69,...,8,3,6,3,9.26,0.00,Rain,13.33,Rain,2
584,5/19/2016,63,55.0,48,50,48,43,97,83,52,...,9,4,13,7,20,0.22,Rain,12.78,Rain,2
586,5/21/2016,59,56.0,52,51,38,28,90,56,32,...,9,4,10,3,9.26,0.04,Rain,13.33,Rain,2
592,5/27/2016,64,57.0,51,49,44,37,83,67,38,...,10,10,12,7,9.26,0.02,Rain,13.89,Rain,2
593,5/28/2016,64,56.0,50,56,48,31,96,78,37,...,10,4,14,9,23,0.03,Rain,13.33,Rain,2
610,6/14/2016,60,54.0,48,47,45,42,86,73,53,...,10,10,21,10,28,0.05,Rain,12.22,Rain,2
611,6/15/2016,66,56.0,45,47,42,38,90,63,36,...,10,10,10,7,16,0.00,Rain,13.33,Rain,2

As we can see that rain is our mean Event We will fill all empty event with 6

In [38]:
# fill in missing values with a specified value
df['Events'].fillna(value='Rain', inplace=True)

The Events_num is appera as -1 which is not right, to fix this problem we repeate above step

In [39]:
df["Events_cat"] = df["Events"].astype('category')
df["Events_num"] = df["Events_cat"].cat.codes

In [40]:
# count the number of missing values in each Series
df.isnull().sum()

Date                          0
Max_Temperature_F             0
Mean_Temperature_F            1
Min_TemperatureF              0
Max_Dew_Point_F               0
MeanDew_Point_F               0
Min_Dewpoint_F                0
Max_Humidity                  0
Mean_Humidity                 0
Min_Humidity                  0
Max_Sea_Level_Pressure_In     0
Mean_Sea_Level_Pressure_In    0
Min_Sea_Level_Pressure_In     0
Max_Visibility_Miles          0
Mean_Visibility_Miles         0
Min_Visibility_Miles          0
Max_Wind_Speed_MPH            0
Mean_Wind_Speed_MPH           0
Max_Gust_Speed_MPH            0
Precipitation_In              0
Events                        0
Mean_Temperature_C            1
Events_cat                    0
Events_num                    0
dtype: int64

In [41]:
# confirm that the missing values were filled in
df['Events'].value_counts().head()

Rain                 346
Sunny                325
Fog, Rain             10
Rain-Thunderstorm      3
Fog                    2
Name: Events, dtype: int64

In [42]:
# if 'any' values are missing in a row, then drop that row
df.dropna(how='any').shape

(688, 24)

In [43]:
# count the number of missing values in each Series
df.isnull().sum()

Date                          0
Max_Temperature_F             0
Mean_Temperature_F            1
Min_TemperatureF              0
Max_Dew_Point_F               0
MeanDew_Point_F               0
Min_Dewpoint_F                0
Max_Humidity                  0
Mean_Humidity                 0
Min_Humidity                  0
Max_Sea_Level_Pressure_In     0
Mean_Sea_Level_Pressure_In    0
Min_Sea_Level_Pressure_In     0
Max_Visibility_Miles          0
Mean_Visibility_Miles         0
Min_Visibility_Miles          0
Max_Wind_Speed_MPH            0
Mean_Wind_Speed_MPH           0
Max_Gust_Speed_MPH            0
Precipitation_In              0
Events                        0
Mean_Temperature_C            1
Events_cat                    0
Events_num                    0
dtype: int64

In [44]:
# fill in missing values with a specified value
df['Mean_Temperature_F'].fillna(value='57', inplace=True)

In [45]:
# count the number of missing values in each Series
df.isnull().sum()

Date                          0
Max_Temperature_F             0
Mean_Temperature_F            0
Min_TemperatureF              0
Max_Dew_Point_F               0
MeanDew_Point_F               0
Min_Dewpoint_F                0
Max_Humidity                  0
Mean_Humidity                 0
Min_Humidity                  0
Max_Sea_Level_Pressure_In     0
Mean_Sea_Level_Pressure_In    0
Min_Sea_Level_Pressure_In     0
Max_Visibility_Miles          0
Mean_Visibility_Miles         0
Min_Visibility_Miles          0
Max_Wind_Speed_MPH            0
Mean_Wind_Speed_MPH           0
Max_Gust_Speed_MPH            0
Precipitation_In              0
Events                        0
Mean_Temperature_C            1
Events_cat                    0
Events_num                    0
dtype: int64

In [46]:
df['Mean_Temperature_C'].mean()

13.657965116279073

In [47]:
df['Mean_Temperature_C'].fillna(value='14', inplace=True)

In [48]:
# count the number of missing values in each Series
df.isnull().sum()

Date                          0
Max_Temperature_F             0
Mean_Temperature_F            0
Min_TemperatureF              0
Max_Dew_Point_F               0
MeanDew_Point_F               0
Min_Dewpoint_F                0
Max_Humidity                  0
Mean_Humidity                 0
Min_Humidity                  0
Max_Sea_Level_Pressure_In     0
Mean_Sea_Level_Pressure_In    0
Min_Sea_Level_Pressure_In     0
Max_Visibility_Miles          0
Mean_Visibility_Miles         0
Min_Visibility_Miles          0
Max_Wind_Speed_MPH            0
Mean_Wind_Speed_MPH           0
Max_Gust_Speed_MPH            0
Precipitation_In              0
Events                        0
Mean_Temperature_C            0
Events_cat                    0
Events_num                    0
dtype: int64

In [49]:
df['Mean_Temperature_F'] = df['Mean_Temperature_F'].astype(int)
df['Mean_Temperature_F'].mean()

56.58490566037736

In [50]:
# 'isnull' returns a DataFrame of booleans (True if missing, False if not missing)
df.isnull().tail()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Mean_Temperature_C,Events_cat,Events_num
684,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
685,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
686,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
687,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
688,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Encoding Data

In [51]:
# convert 'Time' to datetime format
df['Date'] = pd.to_datetime(df.Date)

In [52]:
df['month'] = df['Date'].dt.month

In [53]:
# remove a single column (axis=1 refers to columns)
df.drop('Events_cat', axis=1, inplace=True)

In [54]:
df['year']=df['Date'].dt.year

# Removing Duplicated Tuples

In [55]:
# detect duplicate Date codes: True if an item is identical to a previous item
df.Date.duplicated().tail()

684    False
685    False
686    False
687    False
688    False
Name: Date, dtype: bool

In [56]:
# count the duplicate items (True becomes 1, False becomes 0)
df.Date.duplicated().sum()

0

The above codes shows that we do not have any duplicated rows in our dataset

In [57]:
df.head(100)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Mean_Temperature_C,Events_num,month,year
0,2014-10-13,71,62,54,55,51,46,87,68,46,...,4,13,4,21,0.00,Sunny,16.67,6,10,2014
1,2014-10-14,63,59,55,52,51,50,88,78,63,...,3,10,5,17,0.11,Sunny,15,6,10,2014
2,2014-10-15,62,58,54,53,50,46,87,77,67,...,3,18,7,25,0.45,Sunny,14.44,6,10,2014
3,2014-10-16,71,61,52,49,46,42,83,61,36,...,10,9,4,9.26,0.00,Sunny,16.11,6,10,2014
4,2014-10-17,64,60,57,55,51,41,87,72,46,...,6,8,3,9.26,0.14,Sunny,15.56,6,10,2014
5,2014-10-18,68,64,59,59,57,55,90,83,68,...,2,10,4,9.26,0.31,Sunny,17.78,6,10,2014
6,2014-10-19,73,64,55,57,55,53,94,74,52,...,6,10,3,18,0.00,Sunny,17.78,6,10,2014
7,2014-10-20,66,60,55,57,54,50,90,78,67,...,5,12,5,9.26,0.44,Sunny,15.56,6,10,2014
8,2014-10-21,64,58,55,52,49,46,87,70,58,...,6,15,8,21,0.10,Sunny,14.44,6,10,2014
9,2014-10-22,60,58,57,55,53,48,88,81,67,...,2,14,8,22,1.43,Sunny,14.44,6,10,2014
10,2014-10-23,62,55,50,49,47,44,86,76,62,...,10,15,9,22,0.35,Rain,12.78,2,10,2014
11,2014-10-24,60,56,51,50,47,44,86,75,60,...,8,8,4,9.26,0.13,Rain,13.33,2,10,2014
12,2014-10-25,64,58,52,53,49,44,87,78,58,...,6,24,6,41,0.37,Sunny,14.44,6,10,2014
13,2014-10-26,59,52,48,48,44,42,86,71,62,...,10,20,12,30,0.05,Rain,11.11,2,10,2014
14,2014-10-27,62,54,45,46,43,41,87,72,48,...,10,7,4,9.26,0.01,Rain,12.22,2,10,2014
15,2014-10-28,62,56,51,54,50,45,88,80,72,...,2,14,5,9.26,0.34,Rain,13.33,2,10,2014
16,2014-10-29,64,59,54,54,51,50,88,76,60,...,9,15,7,24,0.04,Sunny,15,6,10,2014
17,2014-10-30,62,58,55,55,53,50,88,82,75,...,2,8,2,9.26,0.67,Sunny,14.44,6,10,2014
18,2014-10-31,59,54,52,52,49,46,89,83,67,...,2,8,4,9.26,0.77,Rain,12.22,2,10,2014
19,2014-11-01,55,52,48,48,45,42,89,78,62,...,7,6,1,9.26,0.00,Rain,11.11,2,11,2014
20,2014-11-02,57,51,45,52,47,42,90,82,62,...,4,9,5,9.26,0.11,Rain,10.56,2,11,2014
21,2014-11-03,60,58,55,53,51,48,84,80,75,...,3,13,8,20,0.24,Sunny,14.44,6,11,2014
22,2014-11-04,61,58,55,54,51,48,90,79,67,...,3,10,6,9.26,0.05,Sunny,14.44,6,11,2014
23,2014-11-05,61,57,53,55,51,48,90,79,64,...,3,7,2,9.26,0.27,Rain,13.89,2,11,2014
24,2014-11-06,64,60,54,55,50,45,90,75,58,...,4,20,8,37,0.22,Sunny,15.56,6,11,2014
25,2014-11-07,59,52,45,45,43,40,86,72,53,...,10,7,3,9.26,0.00,Rain,11.11,2,11,2014
26,2014-11-08,55,48,42,44,42,39,93,78,60,...,2,7,1,9.26,0.00,Rain,8.89,2,11,2014
27,2014-11-09,57,52,48,50,46,43,87,80,72,...,3,12,6,16,0.29,Rain,11.11,2,11,2014
28,2014-11-10,54,48,43,43,40,34,86,71,54,...,10,8,2,9.26,0.00,Rain,8.89,2,11,2014
29,2014-11-11,48,42,36,39,18,3,80,42,20,...,10,15,5,22,0.00,Rain,5.56,2,11,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2014-12-22,54,48,42,45,40,37,86,72,55,...,10,8,1,9.26,0.00,Rain,8.89,2,12,2014
71,2014-12-23,53,48,43,52,42,36,96,80,66,...,2,14,5,9.26,0.61,Rain,8.89,2,12,2014
72,2014-12-24,46,44,41,39,38,37,89,80,71,...,7,8,5,9.26,0.12,Rain,6.67,2,12,2014
73,2014-12-25,48,42,37,39,37,34,87,79,66,...,6,7,3,9.26,0.00,Rain,5.56,2,12,2014
74,2014-12-26,44,42,39,37,36,34,87,80,71,...,4,8,4,9.26,0.00,Rain,5.56,2,12,2014
75,2014-12-27,52,47,42,45,40,36,87,78,69,...,5,15,8,25,0.12,Rain,8.33,2,12,2014
76,2014-12-28,46,44,41,39,38,35,85,79,71,...,8,8,5,9.26,0.06,Rain,6.67,2,12,2014
77,2014-12-29,46,42,35,36,28,21,87,62,40,...,10,9,3,9.26,0.00,Rain,5.56,2,12,2014
78,2014-12-30,39,34,30,24,17,14,73,51,35,...,10,6,1,9.26,0.00,Rain,1.11,2,12,2014
79,2014-12-31,41,34,26,25,22,18,78,60,41,...,10,7,2,9.26,0.00,Rain,1.11,2,12,2014
80,2015-01-01,43,35,27,28,25,21,81,70,49,...,6,4,0,9.26,0.00,Rain,1.67,2,1,2015
81,2015-01-02,44,38,32,39,32,25,86,76,67,...,7,12,4,9.26,0.03,Rain,3.33,2,1,2015
82,2015-01-03,43,38,33,38,35,30,93,84,76,...,3,7,2,9.26,0.00,Rain,3.33,2,1,2015
83,2015-01-04,54,48,41,48,41,37,89,84,77,...,3,21,7,32,0.22,Rain,8.89,2,1,2015
84,2015-01-05,57,56,54,52,50,48,88,81,74,...,2,20,14,31,0.07,Rain,13.33,2,1,2015
85,2015-01-06,55,50,46,48,46,43,93,84,74,...,0,6,2,9.26,0.01,Fog,10,0,1,2015
86,2015-01-07,50,47,44,46,43,41,93,85,74,...,1,6,2,9.26,0.00,Rain,8.33,2,1,2015
87,2015-01-08,48,44,39,41,38,36,89,82,71,...,0,8,3,9.26,0.00,Rain,6.67,2,1,2015
88,2015-01-09,50,44,39,41,39,37,93,86,68,...,0,6,2,9.26,0.01,"Fog, Rain",6.67,1,1,2015
89,2015-01-10,48,46,44,45,44,41,93,88,83,...,1,7,1,9.26,0.18,Rain,7.78,2,1,2015
90,2015-01-11,51,48,46,46,45,42,89,85,80,...,0,5,1,9.26,0.06,"Fog, Rain",8.89,1,1,2015
91,2015-01-12,53,49,45,43,41,39,90,78,64,...,4,10,1,9.26,0.00,Rain,9.44,2,1,2015
92,2015-01-13,48,44,41,41,38,37,87,80,66,...,2,10,2,9.26,0.00,Rain,6.67,2,1,2015
93,2015-01-14,46,42,37,38,34,28,89,77,60,...,1,10,3,9.26,0.00,Rain,5.56,2,1,2015
94,2015-01-15,46,41,36,41,34,27,86,73,63,...,3,16,3,9.26,0.43,Rain,5,2,1,2015
95,2015-01-16,55,50,44,45,40,36,87,71,57,...,10,13,8,22,0.00,Rain,10,2,1,2015
96,2015-01-17,55,46,39,52,41,35,90,84,73,...,3,17,1,23,0.76,Rain,7.78,2,1,2015
97,2015-01-18,60,54,48,51,44,42,82,73,67,...,3,22,14,36,0.23,Rain,12.22,2,1,2015
98,2015-01-19,52,49,46,43,42,40,83,76,66,...,7,10,5,9.26,0.03,Rain,9.44,2,1,2015
99,2015-01-20,51,46,39,39,38,34,87,76,59,...,9,9,1,9.26,0.00,Rain,7.78,2,1,2015

In [58]:
df['year'] = df['year'].astype(int)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 25 columns):
Date                          689 non-null datetime64[ns]
Max_Temperature_F             689 non-null int64
Mean_Temperature_F            689 non-null int32
Min_TemperatureF              689 non-null int64
Max_Dew_Point_F               689 non-null int64
MeanDew_Point_F               689 non-null int64
Min_Dewpoint_F                689 non-null int64
Max_Humidity                  689 non-null int64
Mean_Humidity                 689 non-null int64
Min_Humidity                  689 non-null int64
Max_Sea_Level_Pressure_In     689 non-null float64
Mean_Sea_Level_Pressure_In    689 non-null float64
Min_Sea_Level_Pressure_In     689 non-null float64
Max_Visibility_Miles          689 non-null int64
Mean_Visibility_Miles         689 non-null int64
Min_Visibility_Miles          689 non-null int64
Max_Wind_Speed_MPH            689 non-null int64
Mean_Wind_Speed_MPH           689 non-null int64
Max_Gust_Speed_MPH            689 non-null object
Precipitation_In              689 non-null float64
Events                        689 non-null object
Mean_Temperature_C            689 non-null object
Events_num                    689 non-null int8
month                         689 non-null int64
year                          689 non-null int32
dtypes: datetime64[ns](1), float64(4), int32(2), int64(14), int8(1), object(3)
memory usage: 124.6+ KB

In [60]:
df.Date.tail()

684   2016-08-27
685   2016-08-28
686   2016-08-29
687   2016-08-30
688   2016-08-31
Name: Date, dtype: datetime64[ns]

In [61]:
# df1 belong to weather dataset
df1 = df[(df.year != 2014)]
df1.tail()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Mean_Temperature_C,Events_num,month,year
684,2016-08-27,72,66,61,57,54,50,81,65,46,...,10,16,9,9.26,0.0,Sunny,18.89,6,8,2016
685,2016-08-28,75,68,59,54,52,50,80,65,44,...,10,12,9,9.26,0.0,Sunny,20,6,8,2016
686,2016-08-29,81,68,55,55,53,50,89,65,39,...,6,9,4,9.26,0.0,Sunny,20,6,8,2016
687,2016-08-30,70,64,57,55,53,52,83,69,53,...,10,14,9,18,0.0,Sunny,17.78,6,8,2016
688,2016-08-31,71,65,59,61,56,52,90,77,63,...,8,14,8,9.26,0.0,Sunny,18.33,6,8,2016

# Saving Weather Data

Weather data consist on 600 observations where bikes data is consisting over a hundred thousand of tuples which makles it hard to combine both data set for further weather analysis.  To achieve this we will, break both weather and bikes data Date columns and applying programming technique to achieve weather value for each bicycle trip.

In [62]:
df1.isnull().sum()

Date                          0
Max_Temperature_F             0
Mean_Temperature_F            0
Min_TemperatureF              0
Max_Dew_Point_F               0
MeanDew_Point_F               0
Min_Dewpoint_F                0
Max_Humidity                  0
Mean_Humidity                 0
Min_Humidity                  0
Max_Sea_Level_Pressure_In     0
Mean_Sea_Level_Pressure_In    0
Min_Sea_Level_Pressure_In     0
Max_Visibility_Miles          0
Mean_Visibility_Miles         0
Min_Visibility_Miles          0
Max_Wind_Speed_MPH            0
Mean_Wind_Speed_MPH           0
Max_Gust_Speed_MPH            0
Precipitation_In              0
Events                        0
Mean_Temperature_C            0
Events_num                    0
month                         0
year                          0
dtype: int64

# Data type Conversion

In [63]:
df1['Mean_Temperature_C'] = df1['Mean_Temperature_C'].astype(int)
df1.dtypes

Date                          datetime64[ns]
Max_Temperature_F                      int64
Mean_Temperature_F                     int32
Min_TemperatureF                       int64
Max_Dew_Point_F                        int64
MeanDew_Point_F                        int64
Min_Dewpoint_F                         int64
Max_Humidity                           int64
Mean_Humidity                          int64
Min_Humidity                           int64
Max_Sea_Level_Pressure_In            float64
Mean_Sea_Level_Pressure_In           float64
Min_Sea_Level_Pressure_In            float64
Max_Visibility_Miles                   int64
Mean_Visibility_Miles                  int64
Min_Visibility_Miles                   int64
Max_Wind_Speed_MPH                     int64
Mean_Wind_Speed_MPH                    int64
Max_Gust_Speed_MPH                    object
Precipitation_In                     float64
Events                                object
Mean_Temperature_C                     int32
Events_num                              int8
month                                  int64
year                                   int32
dtype: object

In [64]:
df1

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Mean_Temperature_C,Events_num,month,year
80,2015-01-01,43,35,27,28,25,21,81,70,49,...,6,4,0,9.26,0.00,Rain,1,2,1,2015
81,2015-01-02,44,38,32,39,32,25,86,76,67,...,7,12,4,9.26,0.03,Rain,3,2,1,2015
82,2015-01-03,43,38,33,38,35,30,93,84,76,...,3,7,2,9.26,0.00,Rain,3,2,1,2015
83,2015-01-04,54,48,41,48,41,37,89,84,77,...,3,21,7,32,0.22,Rain,8,2,1,2015
84,2015-01-05,57,56,54,52,50,48,88,81,74,...,2,20,14,31,0.07,Rain,13,2,1,2015
85,2015-01-06,55,50,46,48,46,43,93,84,74,...,0,6,2,9.26,0.01,Fog,10,0,1,2015
86,2015-01-07,50,47,44,46,43,41,93,85,74,...,1,6,2,9.26,0.00,Rain,8,2,1,2015
87,2015-01-08,48,44,39,41,38,36,89,82,71,...,0,8,3,9.26,0.00,Rain,6,2,1,2015
88,2015-01-09,50,44,39,41,39,37,93,86,68,...,0,6,2,9.26,0.01,"Fog, Rain",6,1,1,2015
89,2015-01-10,48,46,44,45,44,41,93,88,83,...,1,7,1,9.26,0.18,Rain,7,2,1,2015
90,2015-01-11,51,48,46,46,45,42,89,85,80,...,0,5,1,9.26,0.06,"Fog, Rain",8,1,1,2015
91,2015-01-12,53,49,45,43,41,39,90,78,64,...,4,10,1,9.26,0.00,Rain,9,2,1,2015
92,2015-01-13,48,44,41,41,38,37,87,80,66,...,2,10,2,9.26,0.00,Rain,6,2,1,2015
93,2015-01-14,46,42,37,38,34,28,89,77,60,...,1,10,3,9.26,0.00,Rain,5,2,1,2015
94,2015-01-15,46,41,36,41,34,27,86,73,63,...,3,16,3,9.26,0.43,Rain,5,2,1,2015
95,2015-01-16,55,50,44,45,40,36,87,71,57,...,10,13,8,22,0.00,Rain,10,2,1,2015
96,2015-01-17,55,46,39,52,41,35,90,84,73,...,3,17,1,23,0.76,Rain,7,2,1,2015
97,2015-01-18,60,54,48,51,44,42,82,73,67,...,3,22,14,36,0.23,Rain,12,2,1,2015
98,2015-01-19,52,49,46,43,42,40,83,76,66,...,7,10,5,9.26,0.03,Rain,9,2,1,2015
99,2015-01-20,51,46,39,39,38,34,87,76,59,...,9,9,1,9.26,0.00,Rain,7,2,1,2015
100,2015-01-21,48,40,33,39,35,29,93,81,66,...,0,5,1,9.26,0.00,Rain,4,2,1,2015
101,2015-01-22,52,48,45,46,43,38,87,81,76,...,5,8,1,9.26,0.03,Rain,8,2,1,2015
102,2015-01-23,57,54,50,52,49,45,89,84,76,...,2,13,6,21,0.08,Rain,12,2,1,2015
103,2015-01-24,62,58,55,55,52,51,87,82,75,...,10,10,7,20,0.02,Sunny,14,6,1,2015
104,2015-01-25,64,57,50,53,49,45,86,77,54,...,6,8,3,9.26,0.01,Rain,13,2,1,2015
105,2015-01-26,64,55,46,47,46,42,93,77,52,...,0,13,4,9.26,0.00,Rain,12,2,1,2015
106,2015-01-27,55,52,50,49,47,45,88,83,80,...,2,10,6,9.26,0.02,Rain,11,2,1,2015
107,2015-01-28,55,50,46,45,42,40,87,76,64,...,7,6,2,9.26,0.00,Rain,10,2,1,2015
108,2015-01-29,55,48,42,40,38,36,85,71,57,...,10,8,1,9.26,0.00,Rain,8,2,1,2015
109,2015-01-30,48,44,39,40,38,35,96,85,71,...,0,8,1,9.26,0.00,Rain,6,2,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,2016-08-02,73,64,57,53,51,50,78,66,49,...,10,12,6,17,0.00,Sunny,17,6,8,2016
660,2016-08-03,75,66,60,53,52,51,72,62,45,...,10,10,6,9.26,0.00,Sunny,18,6,8,2016
661,2016-08-04,80,69,59,56,53,51,81,58,38,...,10,13,5,21,0.00,Sunny,20,6,8,2016
662,2016-08-05,79,70,61,54,51,46,75,56,32,...,10,9,4,9.26,0.00,Sunny,21,6,8,2016
663,2016-08-06,72,63,55,51,49,48,77,62,45,...,10,10,6,9.26,0.00,Sunny,17,6,8,2016
664,2016-08-07,72,66,60,56,52,49,83,69,49,...,10,9,4,9.26,0.03,Sunny,18,6,8,2016
665,2016-08-08,73,64,57,54,53,48,84,69,44,...,10,9,4,9.26,0.00,Sunny,17,6,8,2016
666,2016-08-09,72,66,60,55,54,53,83,70,53,...,10,10,3,9.26,0.00,Sunny,18,6,8,2016
667,2016-08-10,75,68,60,56,55,54,83,67,48,...,10,12,2,17,0.00,Sunny,20,6,8,2016
668,2016-08-11,80,70,61,57,56,54,81,63,47,...,10,12,4,20,0.00,Sunny,21,6,8,2016
669,2016-08-12,87,75,63,59,57,55,78,56,36,...,10,10,3,9.26,0.00,Sunny,23,6,8,2016
670,2016-08-13,90,78,66,60,56,51,78,52,28,...,10,8,2,9.26,0.00,Sunny,25,6,8,2016
671,2016-08-14,82,71,60,54,52,44,78,51,25,...,10,10,4,9.26,0.00,Sunny,21,6,8,2016
672,2016-08-15,84,72,61,57,55,53,78,57,37,...,10,9,2,9.26,0.00,Sunny,22,6,8,2016
673,2016-08-16,81,69,57,56,54,51,90,62,35,...,10,8,2,9.26,0.00,Sunny,20,6,8,2016
674,2016-08-17,79,70,60,54,53,50,80,56,40,...,10,12,4,9.26,0.00,Sunny,21,6,8,2016
675,2016-08-18,86,73,60,63,59,49,72,57,45,...,10,16,8,9.26,0.00,Sunny,22,6,8,2016
676,2016-08-19,95,60,26,77,54,9,88,48,23,...,10,16,8,9.26,0.00,Sunny,15,6,8,2016
677,2016-08-20,91,78,64,57,53,48,70,44,26,...,10,10,3,9.26,0.00,Sunny,25,6,8,2016
678,2016-08-21,73,66,60,55,54,52,83,68,48,...,10,14,8,9.26,0.00,Sunny,18,6,8,2016
679,2016-08-22,72,64,57,59,51,46,93,64,40,...,10,14,8,9.26,0.00,Sunny,17,6,8,2016
680,2016-08-23,79,67,55,55,51,48,83,58,39,...,10,17,7,9.26,0.00,Sunny,19,6,8,2016
681,2016-08-24,82,70,57,57,55,54,89,60,39,...,10,20,5,9.26,0.00,Sunny,21,6,8,2016
682,2016-08-25,93,77,61,59,54,50,81,51,22,...,10,14,4,9.26,0.00,Sunny,25,6,8,2016
683,2016-08-26,88,74,60,57,52,45,82,45,22,...,10,10,4,9.26,0.00,Sunny,23,6,8,2016
684,2016-08-27,72,66,61,57,54,50,81,65,46,...,10,16,9,9.26,0.00,Sunny,18,6,8,2016
685,2016-08-28,75,68,59,54,52,50,80,65,44,...,10,12,9,9.26,0.00,Sunny,20,6,8,2016
686,2016-08-29,81,68,55,55,53,50,89,65,39,...,6,9,4,9.26,0.00,Sunny,20,6,8,2016
687,2016-08-30,70,64,57,55,53,52,83,69,53,...,10,14,9,18,0.00,Sunny,17,6,8,2016
688,2016-08-31,71,65,59,61,56,52,90,77,63,...,8,14,8,9.26,0.00,Sunny,18,6,8,2016

In [65]:
df1.to_csv('C:\\Users\\mrferozi\\Desktop\\GitHub\\Bike\\dataset\\cycle\\weather_clean.csv')

## Resources
References:*From the video series: [Introduction to machine learning with scikit-learn](https://github.com/justmarkham/scikit-learn-videos)*
- scikit-learn documentation: [Cross-validation](http://scikit-learn.org/stable/modules/cross_validation.html), [Model evaluation](http://scikit-learn.org/stable/modules/model_evaluation.html)
- scikit-learn issue on GitHub: [MSE is negative when returned by cross_val_score](https://github.com/scikit-learn/scikit-learn/issues/2439)
- Section 5.1 of [An Introduction to Statistical Learning](http://www-bcf.usc.edu/~gareth/ISL/) (11 pages) and related videos: [K-fold and leave-one-out cross-validation](https://www.youtube.com/watch?v=nZAM5OXrktY) (14 minutes), [Cross-validation the right and wrong ways](https://www.youtube.com/watch?v=S06JpVoNaA0) (10 minutes)
- Scott Fortmann-Roe: [Accurately Measuring Model Prediction Error](http://scott.fortmann-roe.com/docs/MeasuringError.html)
- Machine Learning Mastery: [An Introduction to Feature Selection](http://machinelearningmastery.com/an-introduction-to-feature-selection/)
- Harvard CS109: [Cross-Validation: The Right and Wrong Way](https://github.com/cs109/content/blob/master/lec_10_cross_val.ipynb)
- Journal of Cheminformatics: [Cross-validation pitfalls when selecting and assessing regression and classification models](http://www.jcheminf.com/content/pdf/1758-2946-6-10.pdf)